@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bus Shuttle App</title>
</head>
<body>
    <div>
        <h1>Welcome to the Bus Shuttle App</h1>
        <p>Please <a href="~/Home/Login">login</a> to continue.</p>
    </div>
</body>
</html>
